# MongoDB Connection String (optional - server uses in-memory storage if not provided)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/restaurant

# Vercel Analytics (optional)
NEXT_PUBLIC_VERCEL_ANALYTICS_ID=
