.news-section-full2 {
  position: relative;
  min-height: 75vh;
  align-items: center;
  background-image: url('/images/NewsIMG3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-image-text-full2 {
  position: relative;
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Brush Script MT", cursive;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 10;
}